<h1>Hey <%= @user.username %>. Welcome to the Real Time Reviews Dashboard! </h1>
<h2>Here is your current list of game reviews:</h2>


<ul>
  <% @games.each do |games| %>
    <li><a href="/games/<%=games.name%></a></li>
  <%end%>

</ul>
