<h2>Please Log in to Your Real Time Game Reviews Account!</h2>
    <form method="post">
      <input type="text" name="user" placeholder="Username" required="required" />
        <input type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Let's get reviewing!</button>
    </form>
</div>