<h1>Write your review for <%=@game.name%>!</h1>
    
    <style>
    textarea {
        width: 600px;
    }

    .div_labels {
        text-align: left;
        width: 100%;
        font-size: 13px;
        margin-bottom: 5px;
    }
    </style>
    <body>

        <form action="/reviews" method="post"
            <label>Title:</label>
            <input type="title" name="review[title]" required>
            <label>Star Rating:</label>
            <select class="star-rating" name="review[star_rating]" required>
                <option value="">Select a rating</option>
                <option value="5">Excellent (5 Stars)</option>
                <option value="4">Very Good (4 stars) </option>
                <option value="3">Average (3 Stars)</option>
                <option value="2">Poor(2 Stars)</option>
                <option value="1">Terrible(1 Star)</option>
            </select>
            <br><br>
            <textarea rows="4" cols="50" style="align:left;" name="review[content]" required placeholder= "Enter your review here..."></textarea>
            <input type="hidden" id="game_id" name="review[game_id]" value="<%=@game.id%>">
            <button type="submit" class="btn btn-primary btn-block btn-large">Submit Review</button>
            <input type="hidden" id="date" name="review[date]" value="<%=Time.new.strftime '%m/%d/%Y'=%>">
        </form>
    </body>
</html>



