<!DOCTYPE html>
<html>
<style>
    a {color:orange;}
    body {background-color:#102858;color:white;text-align:center;font-family: Arial, Helvetica, sans-serif;}
</style> 
<body>
    <div class="header">
    <img src="https://u.cubeupload.com/Lanik89/AOE.png" style="width: 55vw; min-width: 330px;" alt="logo" />
        <h3>Real-Time Game Reviews</h3>
            <span><% if current_user%>
                <a href="/users/<%=current_user.id=%>">Your Reviews Dashboard</a>    
                <a href="/games">Write a Review</a>    
                <a href="/reviews">View all reviews</a>    
                <a href="/logout">Log Out</a>
                <%else%>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <%end%>
            <%= yield %>
            </span>
    </div> 
</body>
</html>
