<!DOCTYPE html>
<html>
<body>
<h2>RTG Reviews</h2>
    <% if current_user%>
    <a href="/games">View your games, ratings, and reviews.</a><a href="/games/new">Browse all games!</a><a href="/logout">Log Out</a><a href="/users">Users</a>
    <%else %>
    <a href="/login">Login</a><a href="/signup">Signup</a>
    <%end%>
    <%= yield %>
</body>
</html>
